<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
  <title>Todos</title>

  <link rel="stylesheet" href="css/application.css" type="text/css" charset="utf-8">

  <script src="lib/json2.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/jquery.tmpl.js" type="text/javascript" charset="utf-8"></script>

  <script src="lib/spine.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/local.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/application.js" type="text/javascript" charset="utf-8"></script>
<!-- <input type="checkbox" {{if done}}checked="checked"{{/if}}> -->
  <script type="text/x-jquery-tmpl" id="taskTemplate">
    <div class="item {{if done}}done{{/if}}">
      <div class="view" title="Double click to edit...">
		<code class="checkbox {{if done}}active{{/if}}"></code>
        <span>${name}</span> <a class="destroy icon-close"></a>
      </div>

      <div class="edit">
        <input type="text" value="${name}">
      </div>
    </div>
  </script>
</head>
<body>
  <div id="views">
    <div id="tasks">
      <h1>Todo</h1>

      <form>
        <input type="text" placeholder="What needs to be done?">
      </form>

      <div class="items"></div>

      <footer>
        <a class="clear">Clear completed</a>
        <div class="count"><span class="countVal"></span> left</div>
      </footer>
    </div>
  </div>
  <script src="lib/aaf_sdk.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/process.js" type="text/javascript"></script>
</body>
</html>
